@media screen {
  [data-md-color-scheme="slate"] {
    --md-default-bg-color:             hsla(var(--md-hue), 10%, 10%, 1);
    --md-code-bg-color:                hsla(var(--md-hue), 10%, 15%, 1);
    --md-default-fg-color--light:      hsla(var(--md-hue),75%,90%,0.82);
    --md-default-fg-color--lighter:    hsla(var(--md-hue),75%,90%,0.62);
    --md-default-fg-color--lightest:   hsla(var(--md-hue),75%,90%,0.12);
}
.md-grid {
  max-width: initial;
}
.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: rgb(43, 155, 70);
}
.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: rgb(43, 155, 70);
}
.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: rgb(43, 155, 70);
}
.md-typeset {
  font-size: 0.7rem
}
