#!/bin/bash

if [ -z "$CNODE_HOME" ]; then
    CNODE_HOME="/opt/cardano/cnode"
fi

cardano-node run \
  --config $CNODE_HOME/files/ptn0.yaml \
  --database-path $CNODE_HOME/db \
  --host-addr `curl --silent ifconfig.me` \
  --shelley-kes-key $CNODE_HOME/priv/kes.skey \
  --shelley-operational-certificate $CNODE_HOME/priv/opcert \
  --shelley-vrf-key $CNODE_HOME/priv/vrf.skey \
  --port 9000 \
  --socket-path $CNODE_HOME/sockets/node0.socket \
  --topology $CNODE_HOME/files/topology.json
