openapi: 3.0.2
info:
  title: Koios API
  version: 0.1.0
  description: Elastic RESTful query layer for exploring Cardano blockchain
  x-logo:
    url: ''
servers:
  - url: https://cardanoqueries.ga:8453
  - url: http://194.233.71.104:8053
  - url: http://65.21.183.97:8053
  - url: http://185.161.193.32:8053
paths:
  /rpc/tip:
    get:
      tags:
        - Network
      responses:
        '200':
          description: Array of block summary (limit+paginated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tip'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Query Chain Tip
      description: Get the tip info about the latest block seen by chain
  /genesis:
    get:
      tags:
        - Network
      responses:
        '200':
          description: Array of genesis parameters used to start each era on chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genesis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get Genesis info
      description: Get the Genesis parameters used to start specific era on chain
  /rpc/totals:
    get:
      tags:
        - Network
      parameters:
        - $ref: '#/components/parameters/_epoch_no'
      responses:
        '200':
          description: Array of supply/reserves/utxo/fees/treasury stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/totals'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get historical tokenomic stats
      description: >-
        Get the circulating utxo, treasury, rewards, supply and reserves in
        lovelace for specified epoch, all epochs if empty
  /rpc/epoch_info:
    get:
      tags:
        - Epoch
      parameters:
        - $ref: '#/components/parameters/_epoch_no'
      responses:
        '200':
          description: Array of detailed summary for each epoch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/epoch_info'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Epoch Information
      description: Get the epoch information, all epochs if no epoch specified
  /rpc/epoch_params:
    get:
      tags:
        - Epoch
      parameters:
        - $ref: '#/components/parameters/_epoch_no'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Epoch's Protocol Parameters
      description: >-
        Get the protocol parameters for specific epoch, returns information
        about all epochs if no epoch specified
  /blocks:
    get:
      tags:
        - Block
      parameters:
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Block List
      description: Get summarised details about all blocks (paginated - latest first)
  /rpc/block_info:
    get:
      tags:
        - Block
      parameters:
        - $ref: '#/components/parameters/_block_hash'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Block Information
      description: Get detailed information about a specific block
  /rpc/block_txs:
    get:
      tags:
        - Block
      parameters:
        - $ref: '#/components/parameters/_block_hash'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Block Transactions
      description: Get a list of all transactions included in a provided block
  /rpc/address_info:
    get:
      tags:
        - Address
      parameters:
        - $ref: '#/components/parameters/_payment_address'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Address Information
      description:  Get payment address info - balance, associated stake address (if any) and UTXO set
  /rpc/address_txs:
    post:
      tags:
        - Address
      requestBody:
        $ref: '#/components/requestBodies/address_txs'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Address Transactions
      description:  Get the transaction hash list of input payment address array, optionally filtering after specified block height (inclusive)
  /account_list:
    get:
      tags:
        - Account
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Get a list of all accounts
  /rpc/account_info:
    get:
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/_any_address'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Account Information
      description: Get the account info of any (payment or staking) address
  /rpc/account_rewards:
    get:
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/_stake_address'
        - $ref: '#/components/parameters/_earned_epoch_no'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Account Rewards
      description: >-
        Get the full rewards history (including MIR) for a stake address, or
        certain epoch if specified
  /rpc/account_updates:
    get:
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/_stake_address'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Account Updates (History)
      description: >-
        Get the account updates (registration, deregistration, delegation and
        withdrawals)
  /rpc/account_addresses:
    get:
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/_any_address'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Account Addresses
      description: Get all addresses associated with an account
  /rpc/account_assets:
    get:
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/_any_address'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Account Assets
      description: Get the native asset balance of an account
  /rpc/asset_address_list:
    get:
      tags:
        - Asset
      parameters:
        - $ref: '#/components/parameters/_asset_policy'
        - $ref: '#/components/parameters/_asset_name'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Assets Address List
      description: Get a list of all addresses for a given asset
  /rpc/pool_list:
    get:
      tags:
        - Pool
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool List
      description: A list of all currently registered/retiring (not retired) pools
  /rpc/pool_info:
    get:
      tags:
        - Pool
      parameters:
        - $ref: '#/components/parameters/_pool_bech32'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Information
      description: Current pool status and details for specified pool id
  /rpc/pool_delegators:
    get:
      tags:
        - Pool
      parameters:
        - $ref: '#/components/parameters/_pool_bech32'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Delegators List
      description: Return information about current delegators by a given pool
  /rpc/pool_blocks:
    get:
      tags:
        - Pool
      parameters:
        - $ref: '#/components/parameters/_pool_bech32'
        - $ref: '#/components/parameters/_epoch_no'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Blocks
      description: >-
        Return information about blocks minted by a given pool in current epoch
        (or _epoch_no if provided)
  /rpc/pool_updates:
    get:
      tags:
        - Pool
      parameters:
        - $ref: '#/components/parameters/_pool_bech32_optional'
          required: false
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Updates (History)
      description: Return all pool updates for all pools or only updates for specific pool if specified
  /rpc/pool_relays:
    get:
      tags:
        - Pool
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Relays
      description: A list of registered relays for all currently registered/retiring (not retired) pools
  /rpc/pool_metadata:
    get:
      tags:
        - Pool
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      summary: Pool Metadata
      description: Metadata(on & off-chain) for all currently registered/retiring (not retired) pools
components:
  parameters:
    select:
      name: select
      description: Filtering Columns
      schema:
        type: string
      in: query
      required: false
    on_conflict:
      name: on_conflict
      description: On Conflict
      schema:
        type: string
      in: query
      required: false
    order:
      name: order
      description: Ordering
      schema:
        type: string
      in: query
      required: false
    range:
      name: Range
      description: Limiting and Pagination
      schema:
        type: string
      in: header
      required: false
    rangeUnit:
      name: Range-Unit
      description: Limiting and Pagination
      schema:
        default: items
        type: string
      in: header
      required: false
    offset:
      name: offset
      description: Limiting and Pagination
      schema:
        type: string
      in: query
      required: false
    limit:
      name: limit
      description: Limiting and Pagination
      schema:
        type: string
      in: query
      required: false
      example: 10
    _block_hash:
      deprecated: false
      name: _block_hash
      description: Block Hash in hex format
      schema:
        type: string
        example: f6192a1aaa6d3d05b4703891a6b66cd757801c61ace86cbe5ab0d66e07f601ab
      in: query
      required: true
      allowEmptyValue: false
    _epoch_no:
      deprecated: false
      name: _epoch_no
      description: Epoch Number to fetch details for
      schema:
        type: string
        example: 294
      in: query
      required: false
      allowEmptyValue: true
    _earned_epoch_no:
      deprecated: false
      name: _epoch_no
      description: Filter for earned rewards Epoch Number
      schema:
        type: string
        example: 294
      in: query
      required: false
      allowEmptyValue: true
    _any_address:
      deprecated: false
      name: _address
      description: Cardano payment or staking address in bech32 format
      schema:
        type: string
        example: stake1u8yxtugdv63wxafy9d00nuz6hjyyp4qnggvc9a3vxh8yl0ckml2uz
      in: query
      required: true
      allowEmptyValue: false
    _payment_address:
      deprecated: false
      name: _payment_address
      description: Cardano payment address in bech32 format
      schema:
        type: string
        example: addr1qyp9kz50sh9c53hpmk3l4ewj9ur794t2hdqpngsjn3wkc5sztv9glpwt3frwrhdrltjaytc8ut2k4w6qrx3p98zad3fq07xe9g
      in: query
      required: true
      allowEmptyValue: false
    _stake_address:
      deprecated: false
      name: _stake_address
      description: Cardano staking address (reward account) in bech32 format
      schema:
        type: string
        example: stake1u8yxtugdv63wxafy9d00nuz6hjyyp4qnggvc9a3vxh8yl0ckml2uz
      in: query
      required: true
      allowEmptyValue: false
    _asset_policy:
      deprecated: false
      name: _asset_policy
      description: Asset Policy ID (hex)
      schema:
        type: string
        example: d3501d9531fcc25e3ca4b6429318c2cc374dbdbcf5e99c1c1e5da1ff
      in: query
      required: true
      allowEmptyValue: false
    _asset_name:
      deprecated: false
      name: _asset_name
      description: Asset Name in plain text
      schema:
        type: string
        example: DONTSPAM
      in: query
      required: true
      allowEmptyValue: false
    _pool_bech32:
      deprecated: false
      name: _pool_bech32
      description: Pool ID in bech32 format
      schema:
        type: string
        example: pool155efqn9xpcf73pphkk88cmlkdwx4ulkg606tne970qswczg3asc
      in: query
      required: true
      allowEmptyValue: false
    _pool_bech32_optional:
      deprecated: false
      name: _pool_bech32
      description: Pool ID in bech32 format (optional)
      schema:
        type: string
        example: 
      in: query
      required: false
      allowEmptyValue: true
  requestBodies:
    address_txs:
      content:
        application/json:
          schema:
            required:
              - _payment_addresses
            type: object
            properties:
              _payment_addresses:
                format: text
                type: array
                items:
                  type: string
                description: Array of Cardano payment address(es) in bech32 format
              _after_block_height:
                format: integer
                type: integer
                description: Only fetch information after specific block height
            example:
              _payment_addresses:
                - addr1qyp9kz50sh9c53hpmk3l4ewj9ur794t2hdqpngsjn3wkc5sztv9glpwt3frwrhdrltjaytc8ut2k4w6qrx3p98zad3fq07xe9g
                - addr1qyfldpcvte8nkfpyv0jdc8e026cz5qedx7tajvupdu2724tlj8sypsq6p90hl40ya97xamkm9fwsppus2ru8zf6j8g9sm578cu
              _after_block_height: 6238675
  securitySchemes: {}
  schemas: 
    tip:
      type: array
      items:
        properties:
          hash:
            type: string
            description: Block Hash in hex
            example: 3cc8cfdb2d68fdb2a467292bf0acda7b91ab677741e3e1c1dc111f5be0cef0fe
          epoch:
            type: integer
            description: Epoch number
            example: 294
          abs_slot:
            type: integer
            description: Absolute Slot number (slots not divided into epochs)
            example: 41997413
          epoch_slot:
            type: integer
            description: Slot number within Epoch
            example: 352613
          block_no:
            type: integer
            description: Block Height number on chain
            example: 6338276
          block_time:
            type: string
            description: Timestamp for when the block was created
            example: '2021-10-06T23:41:44'
    genesis:
      type: array
      items:
        properties:
          networkmagic:
            type: string
            example: 764824073
            description: Unique network identifier for chain
          networkid:
            type: string
            example: Mainnet
            description: Network ID used at various CLI identification to distinguish between Mainnet and other networks
          epochlength:
            type: string
            example: 432000
            description: Number of slots in an epoch
          slotlength:
            type: string
            example: 1
            description: Duration of a single slot (in seconds)
          maxlovelacesupply:
            type: string
            example: 45000000000000000
            description: Maximum smallest units (lovelaces) supply for the blockchain
          systemstart:
            type: string
            example: '2017-09-23T21:44:51Z'
            description: Timestamp for first block (genesis) on chain
          activeslotcoeff:
            type: string
            example: 0.05
            description: 'Active Slot Co-Efficient (f) - determines the _probability_ of number of slots in epoch that are expected to have blocks (so mainnet, this would be: 432000 * 0.05 = 21600 estimated blocks)'
          slotsperkesperiod:
            type: string
            example: 129600
            description: Number of slots that represent a single KES period (a unit used for validation of KES key evolutions)
          maxkesrevolutions:
            type: string
            example: 62
            description: Number of KES key evolutions that will automatically occur before a KES (hot) key is expired. This parameter is for security of a pool, in case an operator had access to his hot(online) machine compromised
          securityparam:
            type: string
            example: 2160
            description: A unit (k) used to divide epochs to determine stability window (used in security checks like ensuring atleast 1 block was created in 3*k/f period, or to finalize next epoch's nonce at 4*k/f slots before end of epoch)
          updatequorum:
            type: string
            example: 5
            description: Number of BFT members that need to approve (via vote) a Protocol Update Proposal
          alonzogenesis:
            type: string
            example: '{\"lovelacePerUTxOWord\":34482,\"executionPrices\":{\"prSteps\":{\"numerator\":721,\"denominator\":10000000},...'
            description: A JSON dump of Alonzo Genesis
    totals:
      type: array
      items:
        properties:
          epoch_no:
            type: integer
            description: Epoch number
            example: 294
          circulation:
            type: integer
            description: Circulating UTxOs for given epoch (in lovelaces)
            example: 32081169442642320
          treasury:
            type: integer
            description: Funds in treasury for given epoch (in lovelaces)
            example: 637024173474141
          reward:
            type: integer
            description: Rewards accumulated as of given epoch (in lovelaces)
            example: 506871250479840
          supply:
            type: integer
            description: Total Active Supply (sum of treasury funds, rewards, UTxOs, deposits and fees) for given epoch (in lovelaces)
            example: 33228495612391330
          reserves:
            type: integer
            description: Total Reserves yet to be unlocked on chain
            example: 11771504387608670
    epoch_info:
      type: array
      items:
        properties:
          epoch:
            type: integer
            description: Epoch number
            example: 294
          out_sum:
            type: integer
            description: Total output value across all transactions in epoch
            example: 15432725054364942
          fees:
            type: integer
            description: Total fees incurred by transactions in epoch
            example: 74325855210
          tx_count:
            type: integer
            description: Number of transactions submitted in epoch
            example: 357919
          blk_count:
            type: integer
            description: Number of blocks created in epoch
            example: 17321
          first_block_time:
            type: string
            description: Timestamp for first block created in epoch
            example: '2021-10-02T21:50:11'
          last_block_time:
            type: string
            description: Timestamp for last block created in epoch
            example: '2021-10-02T21:50:11'
          active_stake:
            type: integer
            description: Rewards accumulated as of given epoch (in lovelaces)
            example: 23395112387185880
  headers: {}
  responses:
    OK:
      description: Success!
    NotFound:
      description: The server does not recognise the combination of endpoint and parameters provided
    Unauthorized:
      description: The selected server has restricted the endpoint to be only usable via authentication. The authentication supplied was not authorized to access the endpoint
    PartialContent:
      description: The result was truncated
tags:
  - name: Network
    description: Query information about the network
    x-tag-expanded: false
  - name: Epoch
    description: Query epoch-specific details
    x-tag-expanded: false
  - name: Block
    description: Query information about particular block on chain
    x-tag-expanded: false
  - name: Transactions
    description: Query blockchain transaction details
    x-tag-expanded: false
  - name: Address
    description: Query information about specific address(es)
    x-tag-expanded: false
  - name: Account
    description: Query details about specific stake account addresses
    x-tag-expanded: false
  - name: Asset
    description: Query Asset related informations
    x-tag-expanded: false
  - name: Pool
    description: Query information about specific pools
    x-tag-expanded: false
security: []
