## CNTOOLS CONFIG ##
TMP_FOLDER=/tmp/cntools
PROTECT_KEYS="yes" # GPG protect keys (yes/no)
TIMEOUT_NO_OF_SLOTS=200 # used when waiting for a new block to be created
# each wallet and pool has a friendly name and subfolder containing all related keys, certificates, ...
WALLET_FOLDER=$CNODE_HOME"/priv/wallet"
POOL_FOLDER=$CNODE_HOME"/priv/pool"
# standardized names for all wallet/pool related files
WALLET_PAY_VK_FILENAME="Payment.vkey"
WALLET_PAY_SK_FILENAME="Payment.skey"
WALLET_PAY_ADDR_FILENAME="Payment.addr"
WALLET_BASE_ADDR_FILENAME="Base.addr"
WALLET_STAKING_VK_FILENAME="Staking.vkey"
WALLET_STAKING_SK_FILENAME="Staking.skey"
WALLET_STAKING_ADDR_FILENAME="Reward.addr"
WALLET_STAKING_CERT_FILENAME="Staking.cert"
WALLET_DELEGCERT_FILENAME="deleg.cert"
#POOL_...
POOL_HOTKEY_VK_FILENAME="Hot.vkey"
POOL_HOTKEY_SK_FILENAME="Hot.skey"
POOL_COLDKEY_VK_FILENAME="Cold.vkey"
POOL_COLDKEY_SK_FILENAME="Cold.skey"
POOL_OPCERT_COUNTER_FILENAME="coldcounter"
POOL_OPCERT_FILENAME="opcert"
POOL_VRF_VK_FILENAME="Vrf.vkey"
POOL_VRF_SK_FILENAME="Vrf.skey"
POOL_SAVED_PLEDGE_FILENAME="pledge"
POOL_SAVED_COST_FILENAME="cost"
POOL_SAVED_MARGIN_FILENAME="margin"
POOL_REGCERT_FILENAME="pool.cert"
POOL_PLEDGECERT_FILENAME="pledge.cert"

# log cntools activities (comment out to disable)
CNTOOLS_LOG=${CNODE_HOME}/logs/cntools-history.log
# for binary install/update function
CNODE_BIN_HOME="${HOME}/.cabal/bin/"
# update from asset (todo as soon as binary releases are available)
#ASSET_PLATTFORM="x86_64-unknown-linux-gnu-generic"		# Debian, Ubuntu, CentOS 8,...
#ASSET_PLATTFORM="x86_64-unknown-linux-musl"	# CentOS 7, ...
#ASSET_PLATTFORM="aarch64-unknown-linux-gnu" 	# Armbian, Raspian, RockPi, ARM 64bit, ...
# coloured console output
GREEN="\e[1;32m"; BLUE="\e[1;34m"; RED="\e[1;31m"; ORANGE="\e[33;3m"; NC="\e[0m"; CYAN="\e[0;36m"; LGRAY1="\e[1;37m"; LGRAY="\e[2;37m";
