## CNTOOLS CONFIG ##
TMP_FOLDER=/tmp/cntools
TIMEOUT_NO_OF_SLOTS=60 # used when waiting for a new block to be created

# output verbosity
# 0 = Minimal - Show relevant information
# 1 = Normal  - More information about whats going on behind the scene
# 2 = Maximal - Debug level for troubleshooting
VERBOSITY=0

# a file to know the last hardfork transition by grepping the logs
SHELLEY_TRANS_FILENAME="$CNODE_HOME/db/shelley_trans_epoch"

# each wallet and pool has a friendly name and subfolder containing all related keys, certificates, ...
WALLET_FOLDER="$CNODE_HOME/priv/wallet"
POOL_FOLDER="$CNODE_HOME/priv/pool"

# standardized names for all wallet/pool related files
WALLET_PAY_VK_FILENAME="payment.vkey"
WALLET_PAY_SK_FILENAME="payment.skey"
WALLET_PAY_ADDR_FILENAME="payment.addr"
WALLET_BASE_ADDR_FILENAME="base.addr"
WALLET_STAKE_VK_FILENAME="stake.vkey"
WALLET_STAKE_SK_FILENAME="stake.skey"
WALLET_STAKE_ADDR_FILENAME="reward.addr"
WALLET_STAKE_CERT_FILENAME="stake.cert"
WALLET_DELEGCERT_FILENAME="delegation.cert"
POOL_ID_FILENAME="pool.id"
POOL_HOTKEY_VK_FILENAME="hot.vkey"
POOL_HOTKEY_SK_FILENAME="hot.skey"
POOL_COLDKEY_VK_FILENAME="cold.vkey"
POOL_COLDKEY_SK_FILENAME="cold.skey"
POOL_OPCERT_COUNTER_FILENAME="cold.counter"
POOL_OPCERT_FILENAME="op.cert"
POOL_VRF_VK_FILENAME="vrf.vkey"
POOL_VRF_SK_FILENAME="vrf.skey"
POOL_CONFIG_FILENAME="pool.config"
POOL_REGCERT_FILENAME="pool.cert"
POOL_PLEDGECERT_FILENAME="pledge.cert"
POOL_CURRENT_KES_START="kes.start"
POOL_DEREGCERT_FILENAME="pool.dereg"

# kes rotation warning (in seconds)
KES_ALERT_PERIOD=21600 # default 6 hours
KES_WARNING_PERIOD=86400 # default 1 day

# limit for extended wallet selection menu filtering (balance check and delegation status)
# if more wallets exist than limit set these checks will be disabled to improve performance
WALLET_SELECTION_FILTER_LIMIT=10

# log cntools activities (comment out to disable)
CNTOOLS_LOG="${CNODE_HOME}/logs/cntools-history.log"
# coloured console output
GREEN="\x1B[1;32m"; BLUE="\x1B[1;34m"; RED="\x1B[1;31m"; ORANGE="\x1B[33;3m"; NC="\x1B[0m"; CYAN="\x1B[0;36m"; LGRAY1="\x1B[1;37m"; LGRAY="\x1B[2;37m";

# for binary install/update function
CNODE_BIN_HOME="${HOME}/.cabal/bin/"
# update from asset (todo as soon as binary releases are available)
#ASSET_PLATTFORM="x86_64-unknown-linux-gnu-generic"		# Debian, Ubuntu, CentOS 8,...
#ASSET_PLATTFORM="x86_64-unknown-linux-musl"	# CentOS 7, ...
#ASSET_PLATTFORM="aarch64-unknown-linux-gnu" 	# Armbian, Raspian, RockPi, ARM 64bit, ...

# block log dir
BLOCK_LOG_DIR="${CNODE_HOME}/db/blocks"
