## CNTOOLS CONFIG ##
TMP_FOLDER=/tmp/cntools
TIMEOUT_NO_OF_SLOTS=200 # used when waiting for a new block to be created

# each wallet and pool has a friendly name and subfolder containing all related keys, certificates, ...
WALLET_FOLDER=$CNODE_HOME"/priv/wallet"
POOL_FOLDER=$CNODE_HOME"/priv/pool"

# standardized names for all wallet/pool related files
WALLET_PAY_VK_FILENAME="payment.vkey"
WALLET_PAY_SK_FILENAME="payment.skey"
WALLET_PAY_ADDR_FILENAME="payment.addr"
WALLET_BASE_ADDR_FILENAME="base.addr"
WALLET_STAKE_VK_FILENAME="stake.vkey"
WALLET_STAKE_SK_FILENAME="stake.skey"
WALLET_STAKE_ADDR_FILENAME="reward.addr"
WALLET_STAKE_CERT_FILENAME="stake.cert"
WALLET_DELEGCERT_FILENAME="delegation.cert"
POOL_ID_FILENAME="pool.id"
POOL_HOTKEY_VK_FILENAME="hot.vkey"
POOL_HOTKEY_SK_FILENAME="hot.skey"
POOL_COLDKEY_VK_FILENAME="cold.vkey"
POOL_COLDKEY_SK_FILENAME="cold.skey"
POOL_OPCERT_COUNTER_FILENAME="cold.counter"
POOL_OPCERT_FILENAME="op.cert"
POOL_VRF_VK_FILENAME="vrf.vkey"
POOL_VRF_SK_FILENAME="vrf.skey"
POOL_CONFIG_FILENAME="pool.config"
POOL_REGCERT_FILENAME="pool.cert"
POOL_PLEDGECERT_FILENAME="pledge.cert"
POOL_CURRENT_KES_START="kes.start"

# log cntools activities (comment out to disable)
CNTOOLS_LOG=${CNODE_HOME}/logs/cntools-history.log
# for binary install/update function
CNODE_BIN_HOME="${HOME}/.cabal/bin/"
# update from asset (todo as soon as binary releases are available)
#ASSET_PLATTFORM="x86_64-unknown-linux-gnu-generic"		# Debian, Ubuntu, CentOS 8,...
#ASSET_PLATTFORM="x86_64-unknown-linux-musl"	# CentOS 7, ...
#ASSET_PLATTFORM="aarch64-unknown-linux-gnu" 	# Armbian, Raspian, RockPi, ARM 64bit, ...
# coloured console output
GREEN="\e[1;32m"; BLUE="\e[1;34m"; RED="\e[1;31m"; ORANGE="\e[33;3m"; NC="\e[0m"; CYAN="\e[0;36m"; LGRAY1="\e[1;37m"; LGRAY="\e[2;37m";
COLORS=("GREEN" "BLUE" "RED" "ORANGE" "NC" "CYAN" "LGRAY1" "LGRAY")
